[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pulso"]
	path = pulso
	url = https://github.com/stebandido77/pulso
	subdir = r
